.text-type {
  display: inline;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.1em;
  display: inline-block;
  opacity: 1;
  color: var(--accent);
}

.text-type__cursor--hidden {
  display: none;
}
